<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#orlfi"></use></svg>
        </a>

@*        <ul class="nav col-12 col-lg-2 me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 link-secondary">Overview</a></li>
        </ul>*@

        <form method="get" class="col-12 col-lg mb-3 mb-lg-0 me-lg-3" asp-controller="Search" asp-action="Index">
          <input name="text" type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
      </div>
    </div>
  </header>