<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
</head>
<body>
	<p>Сотрудник: @Model.Name</p>
	<p>Заказы:</p>
	<table>
		<thead>
			<tr>
				<th>Наименование</th>
				<th>Цена</th>
				<th>Количество</th>
				<th>Стоимость</th>
			</tr>
		</thead>
		@foreach (var order in Model.Orders)
		{
			<tr>
				<td>order.Product.Name</td>
				<td>order.Product.Price</td>
				<td>order.Count</td>
				<td>order.Total</td>
			</tr>
		}
	</table>
</body>
</html>
