@{
    ViewData["Title"] = "О программе";
}

<div class="text-center">
    <h1 class="display-4">Курс AspNetCore.MVC</h1>
    <p>Git <a href="https://github.com/orlfi/GeekBrains/tree/AspNetMvc.Lesson-8/7.AspnetMvc/Lesson-8">Домашнее задание к уроку №8</a>.</p>
</div>
